.leftcol {
    top: 5rem;
    left: 0;
    height: 100vh;
}
.rightcol {
    top: 5rem;
    right: 10px;
    height: 100vh;
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 100px;
	height: 100px;
	margin: -76px 0 0 -76px;
	border: 9px solid #a2a2a2;
	border-radius: 50%;
	border-top: 9px solid #27343d;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
	
}
#App.min-height {
    min-height: 100vh;
}


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}